@model PackSlipApp.ViewModel.LoginViewModel

@{
    ViewBag.Title = "Sign In";
    Layout = null;
}

<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="light" data-sidebar-size="lg">
<head>
    @Html.Partial("~/Views/Shared/_title_meta.cshtml")
    @Html.Partial("~/Views/Shared/_head_css.cshtml")
</head>
<body>
    


    <!-- auth-page wrapper -->
    <div class="auth-page-wrapper auth-bg-cover py-5 d-flex justify-content-center align-items-center min-vh-100">
       
        <div class="bg-overlay"></div>
        <!-- auth-page content -->
        <div class="auth-page-content overflow-hidden pt-lg-5">
            <div class="container">
                <div class="row">
                    @{
                        var successMessage = TempData["SuccessMessage"];
                        var ErrorMessage = TempData["ErrorMessage"];
                        <div class="alert-container mb-2">

                            @if (successMessage != null)
                            {
                                <div class="alert alert-success alert-dismissible alert-label-icon rounded-label shadow fade show" role="alert">
                                    <strong>Success!</strong>
                                    @TempData["SuccessMessage"]

                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            }

                            @if (ErrorMessage != null)
                            {
                                <div class="alert alert-danger alert-dismissible alert-label-icon rounded-label shadow fade show mb-xl-0" role="alert">
                                    <strong>Error!</strong>
                                    @TempData["ErrorMessage"]

                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            }
                        </div>
                    }
                    <div class="col-lg-12">

                        <div class="card overflow-hidden">
                            <div class="row g-0">
                                <div class="col-lg-6">
                                    <div class="p-lg-5 p-4 auth-one-bg h-100">
                                        <div class="bg-overlay"></div>
                                        <div class="position-relative h-100 d-flex flex-column">
                                            <div class="mb-4">
                                                <a href="@Url.Action("Index", "Dashboard")" class="d-block">
                                                </a>
                                            </div>
                                            <div class="mt-auto">
                                                <div class="mb-3">
                                                    <i class="ri-double-quotes-l display-4 text-success"></i>
                                                </div>

                                                <div id="qoutescarouselIndicators" class="carousel slide" data-bs-ride="carousel">
                                                    <div class="carousel-indicators">
                                                        <button type="button" data-bs-target="#qoutescarouselIndicators" data-bs-slide-to="0" class="active"
                                                                aria-current="true" aria-label="Slide 1"></button>
                                                        <button type="button" data-bs-target="#qoutescarouselIndicators" data-bs-slide-to="1"
                                                                aria-label="Slide 2"></button>
                                                        <button type="button" data-bs-target="#qoutescarouselIndicators" data-bs-slide-to="2"
                                                                aria-label="Slide 3"></button>
                                                    </div>
                                                    <div class="carousel-inner text-center text-white pb-5">
                                                        <div class="carousel-item active">
                                                            <p class="fs-15 fst-italic">Performance drives recognition—contribute, excel, and watch your achievements get rewarded!</p>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <p class="fs-5 fst-italic">Your growth is in your hands—keep pushing forward, and let achievements bring the rewards!</p>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <p class="fs-5 fst-italic">"Every effort counts! Stay consistent, excel in your work, and watch your achievements grow."</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end carousel -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col -->

                                <div class="col-lg-6">
                                    <div class="p-lg-5 p-4">
                                        <div>
                                            <h5 class="text-primary">Shipping Details </h5>
                                            <p class="text-muted">Sign in to continue to S.S.White Technologies.</p>
                                        </div>

                                        <div class="mt-4">
                                            <form action="@Url.Action("Login", "Authentication")" method="post">

                                                <div class="mb-3">
                                                    <label for="username" class="form-label">Username</label>
                                                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control pe-5 password-input", @placeholder = "Enter username", id = "username" })
                                                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })

                                                </div>

                                                <div class="mb-3">

                                                    <label class="form-label" for="password-input">Password</label>
                                                    <div class="position-relative auth-pass-inputgroup mb-3">
                                                        @Html.PasswordFor(model => model.Password, new { @class = "form-control pe-5 password-input", @placeholder = "Enter password", id = "password-input" })
                                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                                                        <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" type="button" id="password-addon"><i class="ri-eye-fill align-middle"></i></button>
                                                    </div>
                                                </div>

                                                <div class="mt-4">
                                                    <button class="btn btn-secondary w-100" type="submit">Sign In</button>
                                                </div>



                                            </form>
                                        </div>


                                    </div>
                                </div>
                                <!-- end col -->
                            </div>
                            <!-- end row -->
                        </div>
                        <!-- end card -->
                    </div>
                    <!-- end col -->

                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end auth page content -->
        <!-- footer -->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center">
                            <p class="mb-0">
                                &copy;
                                <script>document.write(new Date().getFullYear())</script> S.S.White Technologies. Crafted with <i class="mdi mdi-heart text-danger"></i> by Neha
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end Footer -->
    </div>
    <!-- end auth-page-wrapper -->

    @Html.Partial("~/Views/Shared/_vendor_scripts.cshtml")

    <!-- password-addon init -->
    <script src="~/assets/js/pages/password-addon.init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>