@model PackSlipApp.ViewModel.GeneratedViewmodel

@{
    ViewBag.Title = "Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .table-bordered {
        border: 1px solid black;
    }

    .no-bottom-border {
        border-bottom: 1px solid white !important;
    }
</style>

<div class="card">

    <div class="row m-3">
        <div class="col-10">
            <h3><b>PackSlip Details</b></h3>
        </div>
        <div class="col-2">
            <button class="btn btn-success" onclick="downloadExcel()">
                <i class="fas fa-file-excel"></i> Excel
            </button>
        </div>
    </div>

    <table class="table table-bordered">
        <tr>
            <td colspan="10" align="center" style="font-weight: bold; font-size: 18px;"><center> @Model.Category PACKING LIST </center></td>
        </tr>

        <tr>
            <td colspan="5"><b>Expoter</b></td>
            <td colspan="1">Invoice No</td>
            <td colspan="1">@Model.InvoiceNo</td>
            <td class="no-bottom-border" colspan="1"></td>
            <td colspan="1">Invoice Date</td>
            <td colspan="1">@Model.FormattedInvoiceDate</td>
        </tr>
        <tr>
            <td colspan="5">@Model.SNAddLine1</td>
            <td colspan="1">Packslip No</td>
            <td colspan="1">@Model.PackSlipNo</td>
            <td class="no-bottom-border" colspan="1"></td>
            <td colspan="1">Packslip Date</td>
            <td colspan="1">@Model.FormattedPackSlipDate</td>
        </tr>
        <tr>
            <td colspan="5">@Model.SNAddLine2</td>
            <td colspan="1">Port of Loading</td>
            <td colspan="1">@Model.PortOfLoading</td>
            <td class="no-bottom-border" colspan="1"></td>
            <td colspan="1">Vessel/Flight No</td>
            <td colspan="1"></td>
        </tr>
        <tr>
            <td colspan="5">@Model.SNAddLine3</td>
            <td colspan="1">Port of Discharge</td>
            <td colspan="1">@Model.Portofdischarge @Model.BuyerCountry</td>
            <td class="no-bottom-border" colspan="1"></td>
            <td colspan="1">Final Destination</td>
            <td colspan="1">@Model.Portofdischarge</td>
        </tr>
        <tr>
            <td colspan="5">@Model.SNAddLine4</td>
            <td colspan="1">Country Of Origin</td>
            <td colspan="1">@Model.CountryOfOrigin</td>
            <td colspan="1"></td>
            <td colspan="1">Destination Country</td>
            <td colspan="1">@Model.BuyerCountry</td>
        </tr>

        <tr>
            <td colspan="5">@Model.SNAddLine5</td>
            <td colspan="1">Payment Terms</td>
            <td colspan="4">@Model.PaymentTerms</td>

        </tr>

        <tr>
            <td colspan="5">@Model.SNAddLine6</td>
            <td class="no-bottom-border" colspan="5">Other Reference</td>
        </tr>

        <tr>
            <td colspan="5">@Model.SNAddLine7</td>
            <td class="no-bottom-border" colspan="5">1 Medical Device</td>
        </tr>

        <tr>
            <td colspan="2">CIN</td>
            <td colspan="3">@Model.CIN</td>
            <td colspan="5">2 Medical Device</td>
        </tr>

        <tr>
            <td colspan="2">IES NO</td>
            <td colspan="3">@Model.IECNO</td>
            <td class="no-bottom-border" colspan="5">Other Details</td>
        </tr>

        <tr>
            <td colspan="2">GSTIN</td>
            <td colspan="3">@Model.GSTIN</td>
            <td class="no-bottom-border" colspan="5"></td>
        </tr>
        <tr>
            <td colspan="2">FEI#</td>
            <td colspan="3">@Model.FEI_</td>
            <td class="no-bottom-border" colspan="5">Kind Attention:</td>
        </tr>

        <tr>
            <td colspan="2">FDA Facility Regn#</td>
            <br>
            <td colspan="3">@Model.FDAFacilityRegn_</td>
            <td colspan="5"></td>
        </tr>
        <tr>
            <td class="no-bottom-border" colspan="4">Consignee</td>
            <td class="no-bottom-border" colspan="3">Buyer (If Other than Consignee)</td>
            <td class="no-bottom-border" colspan="3">Buyer PO No & Date</td>
        </tr>
        <tr>
            <td class="no-bottom-border" colspan="4">@Model.ConsigneeAddressName</td>
            <td class="no-bottom-border" colspan="3">@Model.ConsigneeAddressName</td>
            <td class="no-bottom-border" colspan="3">
                @*@string.Join(",", Model?.PoItemList?.Select(p => p.PONo).Distinct())*@
            </td>
        </tr>
        <tr>
            <td class="no-bottom-border" colspan="4">@Model.ConsigneeAddressLine1</td>
            <td class="no-bottom-border" colspan="3">@Model.ConsigneeAddressLine1</td>
            <td class="no-bottom-border" colspan="3"></td>
        </tr>

        <tr>
            <td class="no-bottom-border" colspan="4">@Model.ConsigneeDist</td>
            <td class="no-bottom-border" colspan="3">@Model.ConsigneeDist</td>
            <td class="no-bottom-border" colspan="3"></td>
        </tr>

        <tr>
            <td class="no-bottom-border" colspan="4">@Model.ConsigneeState</td>
            <td class="no-bottom-border" colspan="3">@Model.ConsigneeState</td>
            <td class="no-bottom-border" colspan="3"></td>
        </tr>

        <tr>
            <td class="no-bottom-border" colspan="4">@Model.ConsigneeCountry</td>
            <td class="no-bottom-border" colspan="3">@Model.ConsigneeCountry</td>
            <td class="no-bottom-border" colspan="3"></td>
        </tr>
        <tr>
            <td colspan="4">@Model.ConsigneeCountry  @Model.ConsigneeFacility</td>
            <td colspan="3"></td>
            <td colspan="3"></td>
        </tr>
        <tr>
            <td colspan="9"></td>
        </tr>
        <tr>
            <td>
                Sr No
            </td>
            <td>
                Marks & Nos
            </td>
            <td colspan="2">
                <center>
                    No & Kind of Packing
                </center>
            </td>
            <td>
                Part No
            </td>
            <td>
                Description
            </td>
            <td>
                Quantity (Pcs)
            </td>
            <td>
                UOM
            </td>
            <td>
                Net Weight (Kgs)
            </td>
            <td>
                Gross Weight (Kgs)
            </td>
        </tr>
        @{

            int? totlsum = 0;
            int? totalQty = 0;
            decimal? totalnetweight = 0; // Change to decimal?
            decimal? totalgrossweight = 0; // Change to decimal?

        }
        @if (Model?.PoItemList != null)
        {
            int Count = 1;

            foreach (var item in Model.PoItemList)
            {

                <tr>
                    <td>
                        @Count
                    </td>

                    <td>
                        Pallet
                        <br>
                        (Size in inches) <br>
                        @*@item.pallltetype*@
                    </td>
                    <td>
                        PO No
                        <br>
                        <span style="float: right;">@item.Box</span>
                        <br>

                    </td>
                    <td>
                        @item.PONo                        <br>
                        Box
                        <br>
                        @item.BoxType
                        <br>
                        (Size in Inches)
                    </td>
                    <td>
                        @item.PartNum
                    </td>

                    <td>
                        Line 1
                        <br>
                        RM Grade:
                        <br>
                        Mat Desc
                        <br>
                        US FDA Product Code:
                        <br>
                        RITC:
                        <br>
                        HS Code:
                        <br>
                        Laser Marked Lot No:

                    </td>
                    <td>
                        @item.Qty
                    </td>
                    <td>
                        @item.UOM
                    </td>
                    <td>
                        @item.QtyKg
                    </td>
                    <td>
                        @item.grossweight
                    </td>
                </tr>
                Count++;
                totlsum = totlsum + (item.Box ?? 0);
                totalQty = (totalQty ?? 0) + (int)(item.Qty ?? 0);
                totalnetweight = (totalnetweight ?? 0) + (item.QtyKg ?? 0); // Keep decimal values
                totalgrossweight = (totalgrossweight ?? 0) + (item.grossweight ?? 0); // Keep decimal values
            }
        }

        <tr>
            <td> </td>
            <td>Total</td>
            <td>Total Count of Boxed = @totlsum</td>
            <td></td>
            <td></td>
            <td></td>
            <td>Total Count of Qty = @totalQty</td>
            <td></td>
            <td>Total Count of Net weight = @totalnetweight</td>
            <td>Total Count of Gross Weight = @totalgrossweight</td>

        </tr>
        <tr>
            <td colspan="10"> </td>

        </tr>
        <tr>
            <td colspan="10">
                <center>
                    <b>
                        Made in India
                    </b>
                </center>
            </td>
        </tr>
        <tr>
            <td colspan="2">Total Pallets</td>
            <td colspan="1"></td>
            <td colspan="7"></td>


        </tr>
        <tr>
            <td colspan="2">Total Boxes</td>
            <td colspan="1">@totlsum</td>
            <td colspan="7"></td>
        </tr>
        <tr>
            <td colspan="2">Total Net Weight</td>
            <td colspan="1">@totalnetweight</td>
            <td colspan="7"></td>


        </tr>
        <tr>
            <td colspan="2">Total Gross Weight</td>
            <td colspan="1">@totalgrossweight</td>
            <td colspan="7"><center>Signature : </center></td>


        </tr>
        <tr>
            <td colspan="2"></td>
            <td colspan="1"></td>
            <td colspan="7"></td>


        </tr>

    </table>

</div>


<script>
    function downloadExcel() {
        debugger
        window.location.href = "/PackSlip/DownloadExcel"; // Redirects to the MVC controller method
    }
</script>
